* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    font-size: 16px;
}

header {
    width: 100%;
    position: relative;
    height: 960px;
    background: #bdc3c7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2c3e50c9, #bdc3c7c0), url(/Programming-Wallpaper-HD85.jpg);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2c3e50ec, #bdc3c79f), url(/Programming-Wallpaper-HD85.jpg); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
.enlaces {
    text-decoration: none;
}